# -----------------------------
# PYTHON
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# -----------------------------
# BANCOS DE DADOS (LOCAL)
# -----------------------------
*.db
*.sqlite
database/*.db
database/*Copia*
corretor_*.db

# -----------------------------
# DADOS DE ENTRADA E EXPORTAÇÃO
# -----------------------------
data/entrada/
data/exportacoes/
data/processado/

# -----------------------------
# ARQUIVOS TEMPORÁRIOS
# -----------------------------
*.zip
*.tmp
*.log
*.txt
*.bak
*.bundle

# -----------------------------
# SISTEMA / OS
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# CACHE E BUILD
# -----------------------------
.cache/
dist/
build/
